/* Estilos para el cuerpo de la página */
body {
  background-color: #4A1480;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

/* Estilos para los encabezados */
h1, h2, h3 {
  font-family: Georgia, serif;
  color: #555;
}

/* Estilos para los enlaces */
a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para las imágenes */
img {
  max-width: 100%;
  height: auto;
}
